$animation-color: white;
$animation-speed: 0.6s;

.material-ripple {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	width: 200px;
	user-select: none;
}

.material-ripple > * {
	/* static positioned elements appear behind absolutely positioned siblings (.ink in this case)
	hence we will make the links relatively positioned to bring them above .ink */
	position: relative;
	display: block;
	padding: 15px 25px;
}

/*
.ink styles - the elements which will create the ripple effect.
The size and position of these elements will be set by the JS code.
Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.
*/
.ink {
	position: absolute;
	background: $animation-color;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0.4;
}

/* animation effect */
.ink.animate {
	animation: ripple $animation-speed linear;
}

@keyframes ripple {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
